<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-javascript" role="menuitem"><a href="{{site.baseurl}}tag/javascript">javascript</a></li>
    <li class="nav-react" role="menuitem"><a href="{{site.baseurl}}tag/react/">react</a></li>
    <li class="nav-mathematics" role="menuitem"><a href="{{site.baseurl}}tag/mathematics/">mathematics</a></li> 
    <li class="nav-winners" role="menuitem"><a href="{{site.baseurl}}tag/winners/">winners</a></li>
    <li class="nav-basic" role="menuitem"><a href="{{site.baseurl}}tag/basic/">초등</a></li>
    <li class="nav-middle" role="menuitem"><a href="{{site.baseurl}}tag/middle/">중등</a></li>
    <li class="nav-high" role="menuitem"><a href="{{site.baseurl}}tag/high/">고등</a></li> 
</ul>
